.CDEK-widget__popup-mask {
    z-index: 200000;
}

span#cdekDeliveryTimePost {
    display: inline;
    color: #ff8562;
    margin-left: 5px;
}

/* Set params for sale mark*/
.t778__mark {
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background-color: #d32300;
}

/* Set height for inputs in cart window*/
.t706 .t-form .t-input, .t-select {
    height: 45px;
}

/*Add color for selected catalog category on main page */
.t-store__parts-switch-btn.t-active {
    opacity: 1;
    color: #d32300;
    /*text-decoration: underline;*/
}